@font-face {
  font-family: Lato-Light;
  src: url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(./fonts/Lato-Black.ttf);
}

.App {
  background-color: #c2a4d4;
  height: 100vh;
  display: flexbox;
  overflow-y: scroll;
  position: relative;
}

#Main {
  transition: background 2s ease;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button1 {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 100%;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  padding: 20px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: all .25s ease-in-out; 
}

.button1:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  transform: scale(1.08); 
}

.loginButton {
  background-color: rgba(0, 0, 0, 0) !important;
  width: auto;
  // position: absolute;
  // align-self: end;
  // position: relative;
  // margin: auto;
  // float: left; aidan i need help
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid rgb(78, 190, 56);
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 2000;
  color: #fff;
  transition: all .25s ease-in-out;
}

.loginButton:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  transform: scale(1.08);
}

#NavBar {
  transition-property: background, border-bottom;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.NavStyle {
  height: 80px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  z-index: 2;
  flex-grow: 1;
  justify-content: center;
  background-color: rgba(95, 95, 95, 0.726);
  border-bottom: 1px solid black;
}

.NavText {
  background: 0%;
  border: none;
  color: white;
  margin: 1rem;
  padding: 0px rem;
  font-size: 2rem;
  font-family: Lato-Light;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  transition: all .25s ease-in-out; 
}

.NavText:hover {
  transform: scale(1.08);
}

.outerWrap {
  background: rgb(59, 59, 59);
  height: 100vh;
  min-height: 100%;

}

.BasicStyle {
  margin: 0% 5% 0% 5%;
  margin-top: 5.5rem;
  position: relative;;
  .mainContent {
    color: white;

    .mainInner {
      padding: 0.5rem 2rem;
    }
    h1,
    h2 {
      font-size: 1.8rem;
    }
  }
}

.SpecialStyle {
  margin: 0% 5% 0% 5%;
  margin-top: 1rem;
  position: relative;;
  .mainContent {
    color: white;

    .mainInner {
      padding: 0.5rem 2rem;
    }
    h1,
    h2 {
      font-size: 1.8rem;
    }
  }
}

//Scrolling Colors

#Hero {
  height: 0px;
  }

  .color-violet {
  background-color: #c2a4d4;
}
.color-blue {
  background-color: #a4cad4;
}
.color-green {
  background-color: #a5d5ac;
}
.color-yellow {
  background-color: #e4e6cc;
}
.color-orange {
  background-color: #e6d8cc;
}
.color-red {
  background-color: #d5a5b1;
}

.UserCard {
  background-color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 5px;
}


.PFP {
  padding-top: 20px;
  padding-bottom: 10px;
}

.round-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.CardDiv {
  margin: auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  // padding: 20px;
  width: 83.1%;
  overflow: hidden;

}

.AboutUser {
  padding: 5px;
  font-family: Lato-Light;
  font-size: 1.3rem;
}


.CardStats {
  min-width: 200px;
  max-width: 500px;
  margin: 20px;
  overflow: auto;

}

.AlbumImageStyle {
  padding: 5px;
}

